{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases
 {:extra-deps
  {cider/cider-nrepl {:mvn/version "0.49.3"}
   nrepl/nrepl {:mvn/version "1.3.0"}}
  :main-opts ["-m" "nrepl.cmdline"
              "-i"
              "--middleware" "[cider.nrepl/cider-middleware]"]}}
